@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using DataLayer.Models

@model UserView

@{
    ViewData["Title"] = "Utforska singlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{bool ProfilRegistrerad = false;
    List<User> listUser = new List<User>();
    listUser = Model.Users.ToList();
    bool HaveFriendRequest = false;

    User _user = new User();
    List<FriendRequest> friendRequests = new List<FriendRequest>();
    List<User> searchableUsers = new List<User>();
}

<!--Checkar ifall användaren är inloggad och har fixat sin profil-->
<!--Ifall namnet i AspNetUsers-tabellen är densamma som namnet i User-tabellen,
    då dessa är löst ihopkopplade-->
@foreach (var item in listUser)
{
    if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(item.UserName))
    {
        ProfilRegistrerad = true;
        _user = item;
    }
}

@foreach (var item in Model.FriendRequests)
{
    if (item.Receiver.Id == _user.Id)
    {
        friendRequests.Add(item);
        HaveFriendRequest = true;
    }
}

<!--Om användaren ej är inloggad-->
@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <p>Du måste logga in för att kunna se de heta singlarna</p>
        <a href="/Identity/Account/Login"><p>Logga in</p></a>
        <br />
        <p>Har du inget konto?</p>
        <a href="/Identity/Account/Register"><p>Registrera dig</p></a>
    </div>
}

<!--Om användaren är inloggad men ej har satt upp sin profil-->
@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == false)
{
    <div class="text-center">
        <h1>Du har inte fixat din profilsida ännu!</h1>
        <h2>Klicka här för att komma dit: </h2>
        <a href="/Users/Create">Skapa profil</a>
    </div>
}

<!--KOD SOM KÖRS NÄR ANVÄNDAREN ÄR INLOGGAD OCH HAR SATT UPP SIN PROFIL-->
@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == true)
{
    //Kod för visa vänförfrågnings-headern
    if (HaveFriendRequest)
    {
        <div style="overflow: hidden">
            <marquee>
                <p id="vänförfrågan" style="overflow-x: hidden">
                    Du har fått vänförfrågning av: &nbsp;

                    <!--Loopa genom FriendRequests och se ifall den inloggade
                    fått friendrequest-->
                    <!--Skriv ut de som skickat vänförfrågan-->
                    @foreach (var item in friendRequests)
                    {
                        string senderName = item.Sender.FirstName + " " + item.Sender.LastName;
                    <a id="friendRequestSlider" href="Users/Details/@item.Sender.Id">@senderName &nbsp;</a>
                    }
                </p>
            </marquee>
        </div>
    }

    <div class="text-center">
        <h1>Ta chansen att hitta din nya señor eller señorita ;)</h1>
        <input type="text" value="Sök på namn..." id="searchInput" />  &nbsp; <button id="searchBtn">Sök</button>
        &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="Rensa sök" onclick="location.href = '/Home/Explore';"/>
    </div>

    <!--Div och loop för att visa alla nuvarande profiler-->
    <!--User-modellen och dess items används för att ta fram    
        Id, bildUrl och namn-->
    <!--Loop som ger inkrementerat id på alla taggar för varje profil.
        För att senare kunna användas-->

    <div id="storDiv">
        @for (int i = 0; i < listUser.Count; i++)
        {
            //SKA INTE LÄGGAS TILL OM PROFILEN ÄR INACTIVE. lägg in i if
            //Lägger till Usern i searchable listan om Userns IsNotSearchable property är false
            if (listUser[i].IsNotSearchable == false)
            {
                searchableUsers.Add(listUser[i]);
            }
            string name = listUser[i].FirstName + " " + listUser[i].LastName;

            <div class="profil" id="profil @listUser[i].Id">
                <a href="/Users/Details/@listUser[i].Id" id="profileLink @i" class="profileText">
                    <img class="profilBild" src="@listUser[i].ProfilePicture" id="profilePicture @i" />
                    <p id="textUsernameExplore @i" class="profileText">@name</p>
                </a>
            </div>

        }
    </div>
}


<script>
    //Serializerar searchableUsers
    var searchableUsers = @Html.Raw(Json.Serialize(searchableUsers));

    //Script för att ta fram profil av det angivna namnet i sökrutan
    //OnClick-event
    var searchKnapp = document.getElementById("searchBtn");
    searchKnapp.addEventListener("click", checkInputKorrekt);

    //Validering av input
    function checkInputKorrekt() {

        var inputNamn = document.getElementById('searchInput').value;
        var inputKorrekt = false;

        //Namn måste vara längre än 2
        //och endast innehålla bokstäver
        if (/^([a-ö]){3,}/i.test(inputNamn)) {
            inputKorrekt = true;
        }

        else {
            alert("Namnet måste vara minst 3 tecken och endast innehålla bokstäver")
        }

        //Om allt stämmer, loopa genom alla profiler
        //Checka ifall något av namnen är densamma som det angivna i sökrutan.
        //Lagra den profilen i variabler, rensa bland alla profiler på sidan
        //och lägg sedan till den hittade profilen
        if (inputKorrekt) {
            console.log("1")
            ////Först ska antalet profiler räknas
            //var antalProfiler = 0;
            //var i = 0;
            //while (document.getElementById("profil " + i) != null) {
            //    antalProfiler++
            //    i++
            //}
            
            var element = document.getElementById("storDiv");
            var divArray = [];
            //index för divArray
            var j = 0;
            var inputNamnLower = inputNamn.toLowerCase();
            //Sedan loopas namnet på alla profiler genom.
            //De matchande profilerna läggs till i divArray
            for (var i = 0; i < searchableUsers.length; i++) {
                var profileName = searchableUsers[i].firstName + " " + searchableUsers[i].lastName//document.getElementById("textUsernameExplore " + i).innerText
                var profileNameLower = profileName.toLowerCase();
                if (profileNameLower.includes(inputNamnLower)) {
                    var profile = document.getElementById("profil " + searchableUsers[i].id)
                    divArray[j] = profile;
                    j++;
                }

            }

            //rensa alla profiler
            $('.profil').remove();
            //index för divArray
            var x = 0;
            //Alla items i divArray kommer upp på sidan
            for (var i = 0; i < divArray.length; i++) {
                var profileSearched = divArray[x];
                document.getElementById("storDiv").appendChild(profileSearched);
                x++;
            }
            ////kod för att skriva in profilen
            //var element = document.getelementbyid("stordiv");
            //element.appendchild(profile);

            //Inaktivera sök-knappen efter en sökning
            //Klicka på rensa sök för att återställa
            const button = document.getElementById("searchBtn");
            button.disabled = true;
        }

    }
</script>

<style>
    #storDiv {
        margin-bottom: 2em;
    }

    .profileText{
        color:mediumvioletred;
    }
    .profileText:hover {
        text-decoration-color: mediumvioletred;
        color: mediumvioletred;
    }

    .profil {
        width: 20%;
        height: 200px;
        margin-bottom: .2em;
        margin-top: 2em;
        float: right;
        text-align: center;
    }

    .profilBild {
        display: block;
        min-width: 80%;
        min-height: 80%;
        max-width: 80%;
        max-height: 80%;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .marquee {
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
    }

    .marquee span {
            display: inline-block;
            padding-left: 100%;
            animation: marquee 5s linear infinite;
        }

    #vänförfrågan {
        background-image: linear-gradient(to left, violet, indigo, blue, green, 
        orange, red, violet, indigo, blue, green, orange, red,
        violet, indigo, blue, green,
        orange, red, violet, indigo, blue, green, orange, red);
        -webkit-background-clip: text;
        color: transparent;
    }

    #friendRequestSlider {
        text-decoration: none;
        color: blue;
    }

    #friendRequestSlider:hover {
        text-decoration: underline;
        color: red;
    }
</style>