@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using DataLayer.Models

@model DataLayer.Models.User

@{
    ViewData["Title"] = "Min profil";
}


@{
    string name = Model.FirstName + " " + Model.LastName;
    string age = Model.Age.ToString() + " år gammal";
}

@if (!SignInManager.IsSignedIn(User))
{
    <p>Vill du ta del av dessa läckra singlar?</p>
    <a href="/Identity/Account/Register"><p>Sign up bitch hoe ass</p></a>
}

else
{
    <h1 id="HeaderText">@name</h1>

    <div class="StoraDiven">
        <div class="BildochText">
            <img id="bild" src="@Model.ProfilePicture" />
            <div>
                <h4>Namn</h4>
                <p class="ProfilText">@name</p>
            </div>
            <div>
                <h4>Ålder</h4>
                <p class="ProfilText">@age</p>
            </div>
            <div>
                <h4>Kön</h4>
                <p class="ProfilText">@Model.Gender</p>
            </div>
            <div>
                <h4>Om mig</h4>
                <p class="ProfilText">@Model.Description</p>
            </div>
            <div class="Friends">
                <h4>Vänner</h4>
                <ul>
                    <li>
                        Vän 1
                    </li>
                    <li>
                        Vän 2
                    </li>
                    <li>
                        Vän 3
                    </li>
                    <li>
                        Vän 4
                    </li>
                </ul>
            </div>
        </div>
        <div class="Väggen">
            <h4>Vägg</h4>
            <textarea rows="5" cols="60" name="description"></textarea><input type="submit" value="Skicka Meddelande" id="MessageBtn" />
            <div class="TheWall">

            </div>
        </div>
    </div>
}
<style>
    #HeaderText {
        text-align: center;
        margin-bottom: 5%;
    }

    .ProfilText {
        width: 100%;
    }

    .StoraDiven {
        display: flex;
    }

    .BildochText {
        width: 30%;
        height: auto;
    }

    .InfoDiven {
        width: 30%;
        height: auto;
    }

    .Väggen {
        width: 60%;
        height: auto;
        margin-left: 5%;
    }

    .TheWall {
        width: 100%;
        height: 200px;
        margin-top: 3%;
        border: solid;
        border-radius: 1em;
    }

    .Friends {
        border: solid;
        border-radius: 1em;
    }

    ul {
        list-style: none;
    }

    #bild {
        max-width: 100%;
        max-height: 50%;
    }

    .MessageBtn {
        background-color: blue;
        border: solid;
        border-color: black;
        border-radius: 2em;
    }

</style>
