@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using DataLayer.Models

@model IEnumerable<DataLayer.Models.User>

@{
    ViewData["Title"] = "Min profil";

    User _user = new User();
}

@foreach (var item in Model)
{
    if (item.UserName.Equals(User.Identity.Name))
    {
        _user = item;
    }
}
@{
    bool ProfilRegistrerad = false;
    string name = _user.FirstName + " " + _user.LastName;
    string age = _user.Age.ToString() + " år gammal";
    string editProfileUrl = "/Users/Edit/" + _user.Id;
}

@foreach (var item in Model)
{
    if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(item.UserName))
    {
        ProfilRegistrerad = true;
    }
}

@if (!SignInManager.IsSignedIn(User))
{
    <p>Vill du ta del av dessa läckra singlar?</p>
    <a href="/Identity/Account/Register"><p>Sign up bitch hoe ass</p></a>
}

else if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == false)
{
    <h1>Du har inte fixat din profilsida ännu!</h1>
    <h2>Klicka här för att komma dit: </h2>
    <a href="/Users/Create">Skapa profil</a>
}

else 
{ 
<h1 id="HeaderText">@name</h1>

<div class="StoraDiven">
    <div class="BildochText">
        <img id="bild" src="@_user.ProfilePicture" />
        <div>
            <h4>Namn</h4>
            <p class="ProfilText">@name</p>
        </div>
        <div>
            <h4>Ålder</h4>
            <p class="ProfilText">@age</p>
        </div>
        <div>
            <h4>Kön</h4>
            <p class="ProfilText">@_user.Gender</p>
        </div>
        <div>
            <h4>Om mig</h4>
            <p class="ProfilText">@_user.Description</p>
        </div>
        <div class="Friends">
            <h4>Vänner</h4>
            <ul>
                <li>
                    Vän 1
                </li>
                <li>
                    Vän 2
                </li>
                <li>
                    Vän 3
                </li>
                <li>
                    Vän 4
                </li>
            </ul>
        </div>
    </div>
    <div class="Väggen">
        <h4>Vägg</h4>
        <textarea rows="5" cols="60" name="description"></textarea><input type="submit" value="Skicka Meddelande" id="MessageBtn" />
        <div class="TheWall">

        </div>

        <br />
        <a href="@editProfileUrl">Redigera Profil</a>
        <br />
        <a href="/Identity/Account/Manage">Redigera Inloggningsuppgifter</a>
    </div>
</div>
}
<style>
    #HeaderText {
        text-align: center;
        margin-bottom: 5%;
    }

    .ProfilText {
        width: 100%;
    }

    .StoraDiven {
        display: flex;
    }

    .BildochText {
        width: 30%;
        height: auto;
    }

    .InfoDiven {
        width: 30%;
        height: auto;
    }

    .Väggen {
        width: 60%;
        height: auto;
        margin-left: 5%;
    }

    .TheWall {
        width: 100%;
        height: 200px;
        margin-top: 3%;
        border: solid;
        border-radius: 1em;
    }

    .Friends {
        border: solid;
        border-radius: 1em;
    }

    ul {
        list-style: none;
    }

    #bild {
        max-width: 100%;
        max-height: 50%;
    }

    .MessageBtn {
        background-color: blue;
        border: solid;
        border-color: black;
        border-radius: 2em;
    }
    /*#MeddelandeInput {
        width: 72.5%;
        height: 3em;
        margin-right: 3%;
        white-space: normal;
    }*/


</style>
