@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using DataLayer.Models

@model UserView

@{
    ViewData["Title"] = "Min profil";

    User _user = new User();

    bool ProfilRegistrerad = false;
    //bajs
}

@foreach (var item in Model.Users)
{
    if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(item.UserName))
    {
        _user = item;
        ProfilRegistrerad = true;
    }
}


@{
    
    bool HaveFriendRequest = false;
    string name = _user.FirstName + " " + _user.LastName;
    string age = _user.Age.ToString() + " år gammal";
    string editProfileUrl = "/Users/Edit/" + _user.Id;
    List<User> friendList = new List<User>();
    List<FriendRequest> friendRequests = new List<FriendRequest>();
    
    //Nytt XmlProfile obj och fyller dess properties
    XmlProfile xmlProfile = new XmlProfile();
    xmlProfile.FirstName = _user.FirstName;
    xmlProfile.LastName = _user.LastName;
    xmlProfile.Age = _user.Age;
    xmlProfile.Gender = _user.Gender;
    xmlProfile.Description = _user.Description;
    xmlProfile.ProfilePicture = _user.ProfilePicture;
    xmlProfile.Hobby = _user.Hobby;
    string fileName = @"" + xmlProfile.FirstName + xmlProfile.LastName + ".xml";
    List<XmlFriend> xmlFriendList = new List<XmlFriend>();
}



@foreach (var item in Model.FriendRequests)
{
    if (item.Receiver.Id == _user.Id)
    {
        friendRequests.Add(item);
        HaveFriendRequest = true;
    }
}

@foreach (var item in Model.Friends)
{
    if (item.Friend_1.Id == _user.Id)
    {
        friendList.Add(item.Friend_2);
    }

    if (item.Friend_2.Id == _user.Id)
    {
        friendList.Add(item.Friend_1);
    }
}

@*Loopar friendList listan och mappar om users till xmlfriend objekt, xmlFriend läggs sedan in i xmlFriendList*@
@foreach (var item in friendList)
{
    XmlFriend xmlFriend = new XmlFriend();
    xmlFriend.FirstName = item.FirstName;
    xmlFriend.LastName = item.LastName;
    xmlFriend.Age = item.Age;
    xmlFriend.Gender = item.Gender;
    xmlFriend.Description = item.Description;
    xmlFriend.Hobby = item.Hobby;
    xmlFriend.ProfilePicture = item.ProfilePicture;
    xmlFriendList.Add(xmlFriend);
}

@{ 
    xmlProfile.FriendList = xmlFriendList;
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <p>Du måste logga in för att se din profil</p>
        <a href="/Identity/Account/Login"><p>Logga in</p></a>
        <br />
        <p>Har du inget konto?</p>
        <a href="/Identity/Account/Register"><p>Registrera dig</p></a>

    </div>
}

@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == false)
{
    <div class="text-center">
        <h1>Du har inte fixat din profilsida ännu!</h1>
        <h2>Klicka här för att komma dit: </h2>
        <a href="/Users/Create">Skapa profil</a>
    </div>
}

@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == true)
{
    if (HaveFriendRequest)
    {
        <div style="overflow: hidden">
            <marquee>
                <p id="vänförfrågan">
                    Du har fått vänförfrågning av: &nbsp;

                    <!--Loopa genom FriendRequests och se ifall den inloggade
                    fått friendrequest-->
                    <!--Skriv ut de som skickat vänförfrågan-->
                    @foreach (var item in friendRequests)
                    {
                        string senderName = item.Sender.FirstName + " " + item.Sender.LastName;
                        <a id="friendRequestSlider" href="Users/Details/@item.Sender.Id">@senderName &nbsp; &nbsp;</a>
                    }
                </p>
            </marquee>
        </div>
    }

    <h1 id="HeaderText">@name</h1>

    <div class="StoraDiven">
        <div class="BildochText">
            <img id="bild" src="@_user.ProfilePicture" />
            <div>
                <h4>Namn</h4>
                <p class="ProfilText">@name</p>
            </div>
            <div>
                <h4>Ålder</h4>
                <p class="ProfilText">@age</p>
            </div>
            <div>
                <h4>Kön</h4>
                <p class="ProfilText">@_user.Gender</p>
            </div>
            <div>
                <h4>Om mig</h4>
                <p class="ProfilText">@_user.Description</p>
            </div>
            <div>
                <h4>Min hobby</h4>
                <p class="ProfilText">@_user.Hobby</p>
            </div>
            <div class="Friends">
                <h4>Vänner</h4>
                <ul>
                    @foreach (var item in friendList)
                    {
                        string friendName = item.FirstName + " " + item.LastName;
                        <a id="friendLink" href="/Users/Details/@item.Id"><li>@friendName</li></a>
                    }
                </ul>
            </div>

            <br />
            <a href="@editProfileUrl">Redigera Profil</a>
            <br />
            <a href="/Identity/Account/Manage">Redigera Inloggningsuppgifter</a>
            <br />
            <button type="button" onclick=ExportProfile()>Spara profil som XML</button>

        </div>
        <div class="Väggen">
            <h4>Vägg</h4>
            <textarea id="txtAreaMsg" type="text" rows="5" cols="60" name="description"></textarea><input type="button" value="Skicka Meddelande" id="MessageBtn" />
            <div id="TheWall">

                @{//Loop för att fylla i alla meddelanden
                    //Gå genom alla meddelanden i databas
                    foreach (var item in Model.Messages)
                    {
                        //Om meddelandet är till den nuvarande profilens sida
                        if (item.Receiver == _user)
                        {
                            var senderName = "";
                            //Hämta namnet på användare som skickat meddelande
                            foreach (var sender in Model.Users)
                            {
                                if (sender == item.Sender)
                                {
                                    senderName = sender.FirstName + " " + sender.LastName;
                                }
                            }
                            string senderMessage = senderName + ": " + item.Message;
                            <div id="msgDiv @item.Id">
                            <p class="wallText">@senderMessage</p>
                            <a onclick=removeMessage(@item.Id) href="#"><p class="removeMsg">Ta bort meddelande</p></a>
                            <hr />
                            </div>
                        }

                    }
                }

            </div>


        </div>
    </div>
}

<script>
    var btnMessage = document.getElementById('MessageBtn');
    btnMessage.addEventListener("click", PostMessage);

    var inloggad = @Html.Raw(Json.Serialize(_user));

    function PostMessage()
    {
        var textAreaValue = document.getElementById('txtAreaMsg').value;
        //Checka ifall tom ruta
        if (textAreaValue != "")
        {
            var message = { Sender: inloggad.id, Receiver: inloggad.id, Message: textAreaValue }
            $.ajax({
                url: "/api/UserWalls/PostMessage",
                type: 'POST',
                data: JSON.stringify(message),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: alert("Meddelandet har skickats!")
            })

            //Skapa variabel med sändare och meddelande
            var senderMessage = inloggad.firstName + " " + inloggad.lastName + ": " + textAreaValue;

            //Skapa taggar och appenda meddelandet på väggen
            var node = document.createElement("P");
            var hrNode = document.createElement("hr");
            node.setAttribute("id", "wallText");
            var textnode = document.createTextNode(senderMessage);
            node.appendChild(textnode);
            node.appendChild(hrNode);

            document.getElementById("TheWall").appendChild(node);

            //rensa textrutan
            document.getElementById("txtAreaMsg").value = "";
        }
        else
            alert("Rutan får inte vara tom!")
    }

    function removeMessage(id) {
        if (confirm('Är du säker på att du vill ta bort meddelandet?')) {
            $.ajax({
                url: "/api/UserWalls/" + id,
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: alert("Meddelandet har tagits bort!")
            })
            var element = document.getElementById('TheWall');
            var elementToBeRemoved = document.getElementById('msgDiv ' + id);
            element.removeChild(elementToBeRemoved);
        }
        else {
            return;
        }
    }
    function ExportProfile() {
        console.log("Hej");
        var profile = @Html.Raw(Json.Serialize(xmlProfile));
        var fileName = @Html.Raw(Json.Serialize(fileName));
        var jsonProfile = { Profile: profile, FileName: fileName }
        if (confirm("Vill du exportera din profil till XML?")) {
            $.ajax({
                url: "/api/Xml/ExportProfile",
                type: 'POST',
                data: JSON.stringify(jsonProfile),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: alert("Profil exporterad!")
            })
        }
    }
    //function ExportProfile(profile, fileName) {
    //    console.log("yo");
    //    console.log(profile);
    //    console.log(fileName);
    //    if (confirm("Vill du exportera din profil till XML?")) {
    //        $.ajax({
    //            url: "/api/XmlController",
    //            type: 'POST',
    //            data: JSON.stringify(profile, fileName),
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            success: alert("Profil exporterad!")
    //        })
    //    }
    //}
</script>


<style>
    #HeaderText {
        font-weight: normal;
        text-align: center;
        margin-bottom: 5%;
    }

    .ProfilText {
        width: 100%;
    }

    .StoraDiven {
        display: flex;
    }

    .BildochText {
        width: 30%;
        height: auto;
    }

    .InfoDiven {
        width: 30%;
        height: auto;
    }

    .Väggen {
        width: 60%;
        height: auto;
        margin-left: 5%;
    }

    #TheWall {
        width: 100%;
        min-height: 20%;
        height: auto;
        margin-top: 3%;
        border: solid;
        border-radius: 1em;
    }

    .wallText {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    hr {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    }

    .Friends {
        border: solid;
        border-radius: 1em;
    }

    ul {
        list-style: none;
    }

    #bild {
        max-width: 100%;
        max-height: 50%;
    }

    .MessageBtn {
        background-color: blue;
        border: solid;
        border-color: black;
        border-radius: 2em;
    }

    #friendLink {
        color: black;
        text-decoration: none;
        width: auto;
    }

    ul {
        width: auto;
    }

    #friendLink:hover {
        color: red;
    }

    .marquee {
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
    }

        .marquee span {
            display: inline-block;
            padding-left: 100%;
            animation: marquee 5s linear infinite;
        }

    #vänförfrågan {
        background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red, violet, indigo, blue, green, orange, red, violet, indigo, blue, green, orange, red, violet, indigo, blue, green, orange, red);
        -webkit-background-clip: text;
        color: transparent;
    }

    #friendRequestSlider {
        text-decoration: none;
        color: blue;
    }

    #friendRequestSlider:hover {
        text-decoration: underline;
        color: red;
    }

    .removeMsg {
        color: red;
        font-size: x-small;
        margin-left: 2em;
    }
    .removeMsg:hover{
        text-decoration: underline;
    }
</style>
